@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Pangolin&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}
.container--header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 420px) {
  .container--header {
    flex-direction: column-reverse;
  }
}

.header {
  color: #794355;
}
.header__heading {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.header__logo {
  margin: 10px 0;
  font-family: "Pangolin", cursive;
  font-size: 35px;
  color: #794355;
}
.header__nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 0;
  list-style-type: none;
}
.header__nav a {
  color: #794355;
}
.header__nav a:hover {
  color: #fac124;
}
@media screen and (max-width: 420px) {
  .header__nav {
    margin-bottom: 5px;
  }
}
.header__link {
  padding: 0 15px;
}
@media screen and (max-width: 850px) {
  .header__link--text {
    display: none;
  }
}
.header a {
  text-decoration: none;
  text-transform: uppercase;
}
.header__icon {
  transition: all 0.4s ease;
}
.header__icon:hover {
  transform: scale(1.3);
}

.toggle {
  overflow: hidden;
}
.toggle__links {
  display: none;
}
.toggle__link {
  display: block;
  padding: 5px 30px 5px 5px;
  background-color: #fac124;
  color: #ffffff;
  text-decoration: none;
}
.toggle__link--burger {
  background-color: white;
  color: #794355;
}
@media screen and (min-width: 850px) {
  .toggle {
    display: none;
  }
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  padding: 30px 0;
  background-color: #794355;
  color: #ffffff;
}
@media screen and (max-width: 750px) {
  .footer {
    flex-direction: column;
  }
}
.footer__section {
  width: 40%;
  max-width: 450px;
  text-align: center;
}
@media screen and (max-width: 750px) {
  .footer__section {
    width: 80%;
  }
}
.footer__title {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
.footer__divider {
  width: 95%;
  border: 1px solid #fac124;
  color: #fac124;
}
.footer__list {
  padding-left: 0;
  list-style: none;
}
.footer__list li {
  padding: 5px 0;
}
.footer__list a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
}
.footer__list a:hover {
  color: #fac124;
}

.hero {
  padding: 40px 20px;
  text-align: center;
  background-color: #794355;
  color: white;
}
.hero__title {
  margin: 0;
  text-transform: uppercase;
  font-family: "Pangolin", cursive;
  font-size: 35px;
}
.hero__undertitle {
  font-weight: 300;
  font-size: 20px;
}

.mainBtn {
  width: 100%;
  text-align: center;
}
.mainBtn--left {
  text-align: left;
  margin-top: 35px;
}
.mainBtn__btn {
  margin-top: 20px;
  padding: 10px 15px;
  border: none;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #794355;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
}
.mainBtn__btn--yellow {
  background-color: #fac124;
  color: #794355;
}
.mainBtn__btn--form {
  width: 30% !important;
  min-width: 90px;
  height: auto !important;
}

.main__title {
  text-align: center;
  color: #794355;
  text-transform: uppercase;
  padding: 30px 0;
}
.main__catalog {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
@media screen and (max-width: 400px) {
  .main__catalog {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.main__product {
  border: 2px solid #794355;
  padding-bottom: 30px;
}
.main__image {
  width: 100%;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}
.main__name {
  padding: 0 10px;
  text-transform: uppercase;
  font-family: "Pangolin", cursive;
}
.main__description {
  padding: 0 10px;
}
.main__price {
  padding: 0 10px;
  color: green;
}

.product {
  padding: 50px 0;
}
.product__destination {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}
@media screen and (max-width: 1024px) {
  .product__destination {
    flex-direction: column;
  }
}
.product__image img {
  width: 100%;
  max-width: 100%;
}
.product__parameters {
  padding: 0 20px;
}
.product__name {
  margin-top: 0;
  font-family: "Pangolin", cursive;
  color: #794355;
}
.product__price {
  color: green;
}
.product__sections {
  color: #794355;
  margin-bottom: 0;
}
.product__select {
  background-color: #fac124;
  border: none;
  padding: 5px;
  margin-top: 5px;
  color: #794355;
}
.product__switch {
  display: flex;
  overflow: hidden;
  margin-top: 10px;
}
.product__switch input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}
.product__switch input:checked + label {
  background-color: #fac124;
  box-shadow: none;
}
.product__switch label {
  background-color: #ffffff;
  color: #794355;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}
.product__switch label:hover {
  cursor: pointer;
}

.whishlist {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 0px 7px 2px #f0f0f0;
  margin-top: 20px;
  padding: 10px;
}
@media screen and (max-width: 750px) {
  .whishlist {
    flex-direction: column;
  }
}
@media screen and (max-width: 550px) {
  .whishlist {
    width: 100%;
  }
}
.whishlist__image img {
  width: 300px;
}
@media screen and (max-width: 750px) {
  .whishlist__image img {
    width: 100%;
  }
}
.whishlist__infos {
  margin-left: 10px;
}
@media screen and (max-width: 750px) {
  .whishlist__infos {
    text-align: center;
  }
}
.whishlist__name {
  margin: 0;
  font-family: "Pangolin", cursive;
  color: #794355;
}
.whishlist__description {
  margin: 5px 0;
}
.whishlist__color {
  margin: 5px 0;
}
.whishlist__price {
  color: green;
  margin: 5px 0;
}
.whishlist__select {
  background-color: #fac124;
  border: none;
  padding: 5px;
  margin-top: 0;
  color: #794355;
}
.whishlist a {
  color: #794355;
  font-size: 12px;
}

.price {
  margin-top: 20px;
  padding-right: 20px;
  background-color: #794355;
  color: #ffffff;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
}

.form {
  width: 60%;
  margin: 20px auto 0 auto;
  background-color: #794355;
  padding: 20px;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 15px #8a8a8a;
}
@media screen and (max-width: 1124px) {
  .form {
    width: 100%;
  }
}
.form h2 {
  font-family: "Pangolin", cursive;
  margin-top: 0;
}
.form label {
  text-transform: uppercase;
  font-size: 16px;
  color: #fac124;
}
.form input {
  width: 70%;
  margin: 5px 0 20px 0;
  height: 30px;
}
@media screen and (max-width: 650px) {
  .form input {
    width: 100%;
  }
}

.empty {
  border: 2px solid #794355;
  margin: 20px auto;
  padding: 30px;
  text-align: center;
  color: #794355;
  text-transform: uppercase;
}

.greetings {
  width: 60%;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .greetings {
    flex-direction: column;
  }
}
.greetings__infos {
  padding-right: 20px;
}
.greetings__summary {
  border: 2px solid #794355;
  padding: 30px;
}
.greetings__product {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #794355;
}

/*# sourceMappingURL=style.css.map */
