.mainBtn {
    width: 100%;
    text-align: center;

    &--left {
        margin-top: 35px;
        text-align: left;
    }

    &__btn {
        display: inline-block;
        margin-top: 0;
        padding: 10px 15px;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        background-color: $darkPink;
        color: #ffffff;
        border: none;
        cursor: pointer;

        &--yellow {
            background-color: $accentColor;
            color: $darkPink;
        }

        &--form {
            width: 30% !important;
            min-width: 90px;
            height: auto !important;
        }
    }
}