.cartForm {
    width: 60%;
    margin: 20px auto 0 auto;
    padding: 20px;
    text-align: center;
    background-color: $darkPink;
    color: #ffffff;
    box-shadow: 0 0 15px #8a8a8a;

    @media screen and (max-width: $medium + 100) {
        width: 100%;
    }

    h2 {
        margin-top: 0;
        font-family: $pangolin;
    }

    label {
        font-size: 16px;
        text-transform: uppercase;
        color: $accentColor;
    }

    input {
        width: 70%;
        height: 30px;
        margin: 5px 0 20px 0;

        @media screen and (max-width: $small) {
            width: 100%;
        }
    }
}