.header {
    color: $darkPink;

    &__heading {
        @include flexbox;
    }

    &__logo {
        margin: 10px 0;
        font-family: $pangolin;
        font-size: 35px;
        color: $darkPink;
    }

    &__nav {
        @include flexbox;
        padding: 0;
        list-style-type: none;

        a {
            color: $darkPink;

            &:hover {
                color: $accentColor;
            }
        }

        @media screen and (max-width: $x-small + 100) {
            margin-bottom: 5px;
        }
    }

    &__link {
        padding: 0 15px;

        &--text {
            @media screen and (max-width: $small + 200) {
                display: none;
            }
        }
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
    }

    &__icon {
        transition: all 0.4s ease;

        &:hover {
            transform: scale(1.3);
        }
    }
}

// Burger menu
.toggle {
    overflow: hidden;

    &__links {
        display: none;
    }

    &__link {
        display: block;
        padding: 5px 30px 5px 5px;
        background-color: $accentColor;
        color: $backgroundColor;
        text-decoration: none;

        &--burger {
            background-color: $backgroundColor;
            color: $darkPink;
        }
    }

    @media screen and (min-width: $small + 200) {
        display: none;
    }
}