.price {
    @include flexbox(flex-end);
    margin-top: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    background-color: $darkPink;
    color: #ffffff;
}


.empty {
    margin: 20px auto;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid $darkPink;
    color: $darkPink;
}