.greetings {
    @include flexbox();
    width: 60%;
    margin: 20px auto 0 auto;

    @media screen and (max-width: $medium) {
        flex-direction: column;
    }

    &__infos {
        padding-right: 20px;
    }

    &__summary {
        padding: 30px;
        border: 2px solid $darkPink;
    }

    &__product {
        @include flexbox(space-between);
        border-bottom: 1px solid $darkPink;
    }
}