.heading {
    margin: 0;
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    color: $darkPink;
}

// Container for fetched product elements
.catalog {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    @media screen and (max-width: 400px) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}