// Colors

$orinocoPink : #F3E9F1;
$darkPink : #794355;
$accentColor: #fac124;
$backgroundColor: #ffffff;
$priceColor: green;

// Google Fonts

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Pangolin&display=swap');

$lato: 'Lato',
sans-serif;
$pangolin: 'Pangolin',
cursive;

// Breakpoints 

$x-small: 320px;
$small: 650px;
$medium: 1024px;
$large: 1170px;
$x-large: 1300px;